@font-face {
   font-family: "Asap";
   src: url("../fonts/Asap-Regular.woff2") format("woff2"), 
   url("../fonts/Asap-Regular.woff") format("woff");
   font-weight: 400;
   font-display: swap;
   font-style: normal;
}
@font-face {
   font-family: "Asap";
   src: url("../fonts/Asap-Bold.woff2") format("woff2"), 
   url("../fonts/Asap-Bold.woff") format("woff");
   font-weight: 700;
   font-display: swap;
   font-style: normal;
}
body{
   font-family: 'Asap', sans-serif;
   font-size: 16px;
   line-height: 29px;
   color: $text-color;
}
.wrapper {
   display: flex;
   flex-direction: column;
   min-height: 100vh;
   overflow: hidden;
}
.footer {
   margin-top: auto;
}
.container {
   max-width: 1201px;
   margin: 0px auto;
   padding: 0px 15px;
}
a:active,a:hover{
   color: $general-color;
   text-decoration: underline;  
}

