.footer {
   position: relative;
   color: $white;
}

.footer__heading {
   position: absolute;
   top: -15%;
   min-height: 196px;
   display: grid;
   grid-template-columns: repeat(3, 390px);
   
   
/*   .footer__address, .footer__phone, .footer__mail {
     width: 390px;
   }*/
   .footer__address {
      position: relative;
      background: #5F5F5F;
      @extend %f-heading;
   }
   .footer__phone {
      position: relative;
      background: #6C6C6C;
      @extend %f-heading;
   }
   .footer__mail {
      position: relative;
      background: #7B7B7B;
      @extend %f-heading;
   }

}

.footer__content {
   background-color: $footer-content;
   min-height: 553px;
}

.footer__content-inner {
   display: flex;
/*   justify-content: space-between;*/
   padding-top: 208px;
}

.links {
   margin-left: 122px;
   margin-right: 260px;
}

.about__title, .links__title, .socials__title {
   @extend %f-title;
}
.about__text {
   width: 334px;
}

.socials__inner {
   display: flex;
   .socials__icon:not(:last-child) {
      margin-right: 32px;
   }
   .socials__icon {
      color: $white;
      outline: 1px solid;
      outline-offset: 4px;
      border-radius: 50%;
      transition-duration: 0.2s;
      transition-timing-function: ease-in-out;
   }
   .socials__icon:hover {
      color: $link;
   }
   .socials__icon:active {
      color: $general-color;
   }
}

.footer__copyright {
   background-color: $footer-color;
   min-height: 108px;
}

.copyright__text {
   padding-top: 42px;
}


