.hero--size {
   height: 647px;
   margin-bottom: 85px; 
}

.swiper-container {
   position: relative;
   height: 100%;
   width: 100%;
}

/*style="background-image: url('img/slide1.jpg');" - не сработало*/
.image-slide1{
   background-image: url('../img/slide1.jpg');
   background-repeat: no-repeat;
   background-size: cover; /* надо убрать!*/
   background-position: center;  
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: flex-end;
   padding-right: 20%;
}
.image-slide2 {
   background-image: url('../img/slide2.jpg');
   background-repeat: no-repeat;
   background-size: cover; /* надо убрать!*/
   background-position: center;  
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: flex-end;
   padding-right: 20%;
}

.hero-slide__content {
   max-width: 584px; 
}

.hero-slide__content-title {
   font-size: 28px;
   line-height: 32px;
}

.hero-slide__content-subtitle {
   font-weight: 700;
   font-size: 84px;
   line-height: 96px;
}

.hero-slide__content-text {
   font-size: 32px;
   line-height: 42px;
   margin-bottom: 70px;
}
.hero-slide__content-button {
   @extend %button;
   position: relative;
   &::before {
      content: '';
      position: absolute;
      width: 0;
      height: 100%;
      background-color: $general-color;
      top: 0;
      left: 0;
      transition: width .3s ease-out;
   }
   &:hover {
      &::before{
         width: 100%;
      }
   }
   span {
      position: relative;
      z-index: 1;
   }
}

.hero-swiper-btn {
   position: absolute;
   cursor: pointer;
   z-index: 1;
   top: 50%;
}
.swiper-button-left {
   left: 5%;
}

.swiper-button-right {
   right: 10%;
}

/*----section-about----*/

.about__content {
   display: flex;
   justify-content: space-between;
   margin-bottom: 135px;
}

.content__title {
   @extend %title;
   margin-bottom: 57px;
}

.content__image {
   margin-bottom: 38px;
}

.content__text {
   max-width: 772px;
}

.content__title {
   margin-bottom: 57px;
}

.content__box {
   position: relative;
   padding: 45px 29px 32px 37px;
   background: linear-gradient(180deg, #F8F8F8 0%, #F7F7F7 100%);
}

.content__box--bgc {
   background: linear-gradient(180deg, #F3F3F3 2.58%, #F3F3F3 100%);
}
.content__box-title {
   font-weight: 700;
   font-size: 24px;
   line-height: 28px;
   color: $general-color;
   margin-bottom: 17px;
}

.content__box-icon {
   position: absolute;
   right: 6%;
   top: 18%;
}

.content__box-text {
   max-width: 284px;
   line-height: 25px;
   margin-bottom: 10px;
}

.content__box-link {
   font-weight: 700;
   font-size: 12px;
   color: #7D7D7D;
}
/*----section-benefits----*/
.benefits-content {
     display: flex;
}
.benefits-content__items {
   background-image: url(../img/benefits-img.jpg);
   width: 100%;
   height: 100%;
   background-repeat: no-repeat;
} 

.benefits-content__row {
   display: inline-block;
   /*margin: 87px 0px 87px */
}

.row {
   background-color: $general-color;
   opacity: 0.9;
   font-weight: 700;
   font-size: 22px;
   color: #FFFFFF;
   padding: 35px 40px 36px 34px;
}

/*.row:not(:last-child) {
   margin-bottom: 21px;
}*/

.benefits-content__col {
   
   background-color:rgb(212, 170, 170);
}

.col {
   padding-top: 77px;
   padding-bottom: 57px;
   padding-left: 65px;
   &__title {
      @extend %title;
      margin-bottom: 10px;
   }
   &__subtitle {
      font-size: 24px;
      line-height: 28px;
      color: #9B9B9B;
      margin-bottom: 38px;
   }
   &__list {
      width: 474px;
      margin-bottom: 26px;
   }
   &__list-item {
      list-style: disc;
   }
   &__button {
      @extend %btn;
      
   }
}