.benefits__content {
   background: linear-gradient(180deg, #FCFCFC 0%, #F8F8F8 100%);
   min-height: 504px;
   margin-bottom: 130px;
}

.benefits__content-inner {
   display: flex;
   justify-content: space-between;
   padding-top: 87px;
  
}

.benefits__image {
   background-image: url(../img/benefits-img.jpg);
   background-repeat: no-repeat;
   background-position: 120px;
   height: 504px;
}

.benefits__items-row {
   margin-left: 157px;
}

.row {
   background-color: $general-color;
   width: 474px;
   height: 96px;
   opacity: 0.9;
   font-weight: 700;
   font-size: 22px;
   color: #FFFFFF;
   padding-top: 35px;
   padding-left: 34px;
   cursor: pointer;
/* padding: 35px 40px 36px 34px;*/
   &:not(:last-child) {
      margin-bottom: 21px;
   }
}

.benefits__info {
   padding-left: 65px;
}

.info {
   &__title {
      @extend %main-title ;
      margin-bottom: 10px;
   }

   &__subtitle {
      @extend %subtitle;
      margin-bottom: 38px;
   }

   &__list {
      width: 474px;
      margin-bottom: 26px;
   }

   &__list-item {
      list-style: disc;
   }

   &__button {
      @extend %btn;
   }
}

.row-click {
   background-color: rgba(255, 255, 255, 0.9);
   color: black;
}

.info--one {
   display: block;
}

.info--two {
   display: none;
}

.info--three {
   display: none;
}

.info-visible {
   display: block;
}