.data__content {
   display: flex;
   align-items: center;
   justify-content: space-between;
   margin-bottom: 228px;
}

.module:not(:last-child) {
   margin-bottom: 46px;
}

.module__title {
   @extend %main-title;
   margin-bottom: 9px;
}

.module__subtitle {
   @extend %subtitle;
   margin-bottom: 24px;
}

.module__text {
   color: #595959;
   margin-bottom: 32px
}

.module__link {
   @extend %link;
}

.data__content-right {
   background: linear-gradient(180deg, #FCFCFC 0%, #F7F7F7 100%);
   padding: 54px 38px 52px 48px;
}

.form__items {
   display: flex;
   flex-direction: column;
   margin-bottom: 40px;
}

.form__title {
   @extend %main-title;
   margin-bottom: 46px;
}

.form__field {
   padding: 19px 13px 18px;
   width: 388px;
   font-size: 14px;
   color: #4A4A4A;
   background: $white;
   border: 2px solid #E2E2E2;
   white-space: nowrap;
   overflow: hidden;
   text-overflow: ellipsis;
}

.form__field:not(:last-child) {
   margin-bottom: 37px;
}

.form__button {
   display: flex;
   justify-content: flex-end;

   .form__button-inner {
      @extend %btn;
      width: 104px;
   }
}