.modules__content {
   display: flex;
   justify-content: space-between;
   margin-bottom: 161px;
}

.services__content {
   width: 593px;  
}

.services__title, .security__title {
   @extend %main-title ;
   margin-bottom: 9px;
}

.services__subtitle {
   @extend %subtitle;
   margin-bottom: 67px;
}

.services__dropdown:not(:last-child) {
   margin-bottom: 42px;
}

.dropdown__headline {
   position: relative;
   margin-bottom: 32px;
   .dropdown__headline-title {
      @extend %title;
      &::after {
         content: '';
         display: block;
         width: 592px;
         border: 1px solid #979797;
         margin-top: 25px;  
      }
   }
}

.dropdown__button {
   position: absolute;
   top: 20%;
   margin-left: 97%;
}

.dropdown__button-inner {
   position: relative;
   width: 18px;
   height: 18px;
   cursor: pointer;
}

.line {
   display: block;
   position: absolute;
   width: 100%;
   height: 3px;
   background-color: black;
   transition: .3s linear;
}

.line--first, .line--second {
   top: 50%;
}

.line--second {
   transform: rotate(-90deg);
}

.button-active .line--second{
   transform: rotate(-180deg);
}

/*.hidden {
   display: flex;
}*/

.dropdown__content {
   display: flex;
/* display: none;
   max-height: 0;
   overflow: hidden;
   transition: max-height 0.2s ease-out;*/
   transition: all .3s ease;
   overflow: hidden;
}

.dropdown__content-shown {
  display: flex;
}

.dropdown__content-image {
   margin-right: 20px;
}

.dropdown__content-inner {
   margin-top: 10px;  
}

.dropdown__desc {
   margin-bottom: 5px
}

.dropdown__link {
   @extend %link;
}


.security__subtitle {
   @extend %subtitle;
   margin-bottom: 47px;
}

.security__content {
   width: 474px;
}

.security__image {
   margin-bottom: 58px;
}

.security__desc {
   margin-bottom: 54px;
}

.security__button {
   @extend %btn;
}
