$general-color: #0E77AF;
$link: #0c9ae6;
$text-color: #000000;
$white: #FFFFFF;
$footer-color: #363636;
$footer-content: #4A4A4A;
$btn: #B4141B;

%button {
   display: inline-block;
   padding: 26px 84px 25px 92px;
   background-color: $btn;
   color: $white;
   font-weight: 700;
   font-size: 24px;
   line-height: 23px;
   text-transform: uppercase;
   position: relative;
   &::before {
      content: '';
      position: absolute;
      width: 0;
      height: 100%;
      background-color: $general-color;
      top: 0;
      left: 0;
      transition: width .3s ease-out;
   }
   &:active {
      text-shadow: 1px 1px 2px rgb(0, 0, 0), 0 0 1em rgb(255, 255, 255);
   }
   &:hover {
      &::before {
         width: 100%;
      }
   }
   span {
      position: relative;
      z-index: 1;
   }
}

%btn {
   display: inline-block;
   padding: 6px 18px;
   background-color: $btn;
   color: $white;
   font-weight: 700;
   font-size: 12px;
   line-height: 23px;
   text-transform: uppercase;
   &:hover {
      background-color: $general-color;
   }
   &:active {
      text-shadow: 1px 1px 2px rgb(0, 0, 0), 0 0 1em rgb(255, 255, 255);
   }
}

%link {
   font-weight: 700;
   font-size: 12px;
   line-height: 29px;
   color: #7D7D7D;
   text-transform: uppercase;
}

%main-title {
   font-weight: 700;
   font-size: 32px;
   line-height: 37px;
}

%title {
   font-weight: 700;
   font-size: 24px;
   line-height: 28px;
   color: $general-color;
}

%f-title {
   font-weight: 700;
   font-size: 24px;
   line-height: 28px;
   margin-bottom: 45px;
}

%subtitle {
   font-size: 24px;
   line-height: 28px;
   color: #9B9B9B;
}

%f-heading {
   padding-top: 40px;
   padding-left: 72px;
   .title {
      font-weight: 700;
      font-size: 24px;
      line-height: 28px;
      margin-bottom: 11px;
   }
   .icon {
      position: absolute;
      top: 43%;
      left: 5%;
   }
}